@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800&family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* colors  */

:root {
  /* primary */
  --cyan: hsl(185, 75%, 39%);
  --dark-gray: hsl(140, 29%, 16%);
  --light-gray: hsl(227, 10%, 46%);
  /* neutral */
  --gray: hsl(148, 8%, 34%);
  --white: rgba(241, 241, 241, 0.9);
  --gradient: linear-gradient(180deg, #F0EB8F 20%, #c2ee69 100%);
}

.cyan {
  color: var(--cyan);
}

.dark__gray {
  color: var(--dark-gray);
}

.light__gray {
  color: var(--light-gray);
}

.gray {
  color: var(--gray);
}

.bg__white {
  background-color: var(--white);
}

.bg__gradient {
  color: var(--gradient);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Kumbh Sans', sans-serif;
}

.bg {
  background: url(./images/bg.svg) no-repeat center;
  background-size: cover;
}

.container {
  width: 350px;
  height: 100%;
  text-align: center;
  border-radius: 0.5rem;
  padding: 2.75rem;
  box-shadow: 0px 50px 100px -20px rgba(8, 69, 30, 0.349);
  background: rgba(241, 241, 241, 0.9);
}

.img__box {
  display: block;
  margin: auto;
  /* overflow: hidden; */
  overflow: hidden;
  max-width: 100%;
  transform: scale(1);
}

.profile__stats {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.h1 {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--dark-gray);
}

.h1__span {
  font-size: 1.125rem;
  font-weight: 400;
}

.h2 {
  font-size: 0.9rem;
  font-weight: 400;
}

.span__text {
  font-size: 0.7rem;
  font-weight: 400;
}

.padding__bottom {
  padding-bottom: 1.5rem;
}

.padding__bottom--sm {
  padding-bottom: 0.5rem;
}

.margin__bottom {
  margin-bottom: 1.5rem;
}

.divider {
  border-top: 1px solid rgba(111, 144, 102, 0.5);
  border-radius: 5px;
}