@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800&family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* colors  */

:root {
  /* primary */
  --cyan: hsl(185, 75%, 39%);
  --dark-gray: hsl(140, 29%, 16%);
  --light-gray: hsl(227, 10%, 46%);
  /* neutral */
  --gray: hsl(148, 8%, 34%);
  --white: hsl(120, 3%, 99%);
}

.cyan {
  color: var(--cyan);
}

.dark__gray {
  color: var(--dark-gray);
}

.light__gray {
  color: var(--light-gray);
}

.gray {
  color: var(--gray);
}

.bg__white {
  background-color: var(--white);
}

.bg__gradient {
  color: var(--gradient);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.1;
  text-rendering: optimizeSpeed;
  font-family: 'Kumbh Sans', sans-serif;
}

.bg {
  background: url(./images/bg.svg) no-repeat center;
  background-size: cover;
}

.container {
  width: 350px;
  height: 100%;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 15px 50px 100px -20px rgba(19, 35, 25, 0.493);
  background: rgb(255, 255, 255);
}

.wrapper {
  padding: 2.75rem;
}

.img__box {
  display: block;
  overflow: hidden;
  border: solid 5px rgb(255, 255, 255);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  transition: ease-in 1s;
  position: relative;
  z-index: 1;
}

.img__box:hover {
  border: solid 7px rgb(193, 255, 127);
  transition: ease-out 0.6s;
}

.profile__img {
  transform: scale(1.25);
  transition: ease-in 1s;
}

.profile__img:hover {
  transform: scale(1) rotate(15deg);
  transition: ease-out 0.6s;
}

.profile__stats {
  display: grid;
  line-height: 1.35;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.75rem;
}

.h1 {
  font-size: 1.125rem;
  font-weight: 700;
  padding-top: 1.75rem;
  color: var(--dark-gray);
}

.h1__span {
  font-size: 1.125rem;
  font-weight: 400;
}

.h2 {
  font-size: 0.9rem;
  font-weight: 400;
  padding-top: 0.5rem;
}

.h3 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark-gray);
}

.span__text {
  font-size: 0.7rem;
  font-weight: 400;
}

.divider {
  border-top: 1px solid rgba(111, 144, 102, 0.5);
  border-radius: 5px;
  margin-top: 1.75rem;
}

.container__header {
  display: block;
  width: 100%;
  border-radius: 8px 8px 0 0;
}